---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

const orgSchema = {
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": "Consultora Ambiental",
  "url": "https://www.tu-dominio.com",
  "areaServed": ["Ciudad de México", "Estado de México"]
};
---
<Layout
  title="Inicio"
  description="Trámites ambientales con acompañamiento experto."
  canonical="https://www.tu-dominio.com/"
  image="/images/hero.jpg"
  lang="es"
  schema={orgSchema}
>
  <main>
		<Hero />
    <section class="h-full"></section>
	</main>
</Layout>
